.collection-item {
    display: flex;
    justify-content: space-between; /* maximizes the space between each item  */
}

.material-icons{
    cursor: pointer;
    margin-right: 5px;
}

.vote-box{
    display:flex;
    align-items: center;
}